* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: {
        'Roboto', sans-serif;
    };
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
font-family: Roboto;
font-weight: 500;
font-size: 15px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
margin-top: 14px;
}
h1 {
    margin-top: 53px;
}
.title {
font-weight: 900;
font-size: 41px;
line-height: 24px;
text-transform: uppercase;
color: #F9BF3B;
text-align: center;
}
h2.title {
    margin-top: 30px;
}
.simple .title_big {
font-weight: 400;
font-size: 80px;
color: #FFFFFF;
text-transform: uppercase;
text-align: center;
margin-top: 21px;
}
.promo .promo_text {
color: #FFFFFF;
font-weight: 300;
font-size: 21px;
line-height: 28px; 
text-align: center;
padding: 0 13px;
margin-top: 23px;
}
.promo .promo_text span {
color: #F9BF3B;
font-weight: 700;
}
.promo .promo_btn {
display: block;
margin: 0px auto;
margin-top: 73px;
width: 313px;
height: 72px;
background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.18);
border: 4px solid rgba(0,0,0,0.23);
color: #FFFFFF;
font-family: Roboto Condensed;
font-weight: 400;
font-size: 21px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
cursor: pointer;
outline: none;
}
.more {
margin-top: 73px;
}
.more .more_text {
color: #FFFFFF;
font-family: "Roboto - Thin";
font-size: 15px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
}
.more .more_img {
display: block;
margin: 0 auto;
margin-top: 15px;
}
.waiting {
height: 604px;
background-color: #efefef;
padding: 85px 0 75px;
}
.waiting_header, .finish .finish_header {
color: #252525;
font-family: Roboto;
font-weight: 400;
font-size: 30px;
text-align: center;
text-transform: uppercase;
}
.finish .finish_header{
color: #FFFFFF;
}
.waiting .waiting_divider, .finish .finish_divider {
width: 217px;
height: 4px;
background-color: #F9BF3B;
margin: 0 auto;
margin-top: 18px;
}
.waiting .waiting_subheader {
margin-top: 17px;
color: #4a4a4a;
font-family: Roboto;
font-size: 23px;
font-weight: 400;
text-align: center;
}
.waiting .waiting_wrapper {
display: flex;
justify-content: space-between;
margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item {
width: 339px;
text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
margin-top: 33px;
color:#4a4a4a;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
line-height: 21px;
}
.optimization {
    min-height: 55px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header {
margin-left: 391px;
color:#299cbd;
font-family: "Roboto-Black";
font-size: 29px;
font-weight: 400;
text-transform: uppercase;
}
.optimization .optimization_text {
margin-top: 25px;
margin-left: 391px;
font-family: Roboto Light;
font-weight: 300;
font-size: 17px;
line-height: 27px;
color: #4A4A4A;
}
.optimization .optimization_text span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}
.optimization .optimization_img {
position: absolute;
top: -54px;
left: -240px;
z-index: -1;
}
.finish {
min-height: 447px;
padding: 86px 0 79px 0;
background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}
.finish .finish_wrapper {
margin-top: 41px;
display: flex;
justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
width: 204px; 
}
.finish .finish_wrapper .finish_round {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
width: 115px;
height: 115px;
background-color: #b4e2ff;
border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr {
margin-top: 25px;
text-align: center;
font-family: Roboto;
color:#efefef;
font-size: 17px;
font-weight: 300;
line-height: 20px;
}
.gift_btn {
display: block;
margin: 0px auto;
margin-top: 51px;
width: 313px;
height: 72px;
background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.18);
border: 0px solid rgba(0,0,0,0.23);
color: #FFFFFF;
font-family: Roboto Condensed;
font-weight: 400;
font-size: 21px;
line-height: 24px;
text-align: center;
text-transform: uppercase;
cursor: pointer;
outline: none;
}
.gift_container {
height: 604px;
background-color: #efefef;
padding: 85px 0 75px;
}
.gift_text{
color: #252525;
font-family: Roboto;
font-weight: normal;
padding: 20px;
font-size: 30px;
line-height: 43px;
display: block;
margin: 0 auto;
align-items: center;
text-align: center;    
}
.gift {
    display: block;
    margin: 0 auto;
}
.first-vebinar {
   
}
.first_icon {
    margin: 0 auto;
    display: flex;
    margin-top: 88px;
    margin-bottom: 36px;
    width: 342px;
height: 201px;
}
.first_text {
    color: #252525;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

}
.info {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 36px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #299CBD;
margin-bottom: 24.5px;
}
.info_2 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 20px;
align-items: center;
text-align: center;
color: #4A4A4A;
margin-bottom: 52.5px;
}
footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}